#content {
    /* background-image: url('https://img.freepik.com/free-photo/top-view-circular-food-frame_23-2148723455.jpg?w=900&t=st=1722720346~exp=1722720946~hmac=e56d68a66bb23bb74a81a10fb8d5f83d8cd820ca4b9699306e4130954c6af376'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
}

@font-face {
    font-family: 'Tagline-Font';
    src: url(../fonts/taglineFont.ttf);
}

@font-face {
    font-family: 'Title-Font';
    src: url(../fonts/titleFont.ttf);
}

.title {

    margin-top: 0px;
    font-size: 60px;
    font-family: "Title-Font", sans-serif;
}

.tagline {
    font-size: 40px;
    font-family: "Tagline-Font", sans-serif;
}